td {
    vertical-align: middle !important;
}

.songProperty {
    width: 200px !important;
    height: 45px;
}

.edit {

}

.glyphicon {
    font-size: 130%;
    margin-right: 10px;
    color: black;
    vertical-align:middle;
    padding: 0px;
}

.modify {
    color: black;
}

.filter {
    margin-right: 40px;
}

.filterLabel {
    margin-right: 10px;
}