.home {
    font-size: 140%;
}

.home a {
    color: black;
    transition: letter-spacing 0.5s;
    letter-spacing: 1px;
}

.home a:hover {
    letter-spacing: 2px;
}

.home .glyphicon {
    font-size: 70%;
    margin-bottom: 4px;
}